.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.2s ease;
    height: var(--default-layout-header-height);
    background-color: var(--default-background-color);
}

.wrapper.shrink {
    height: var(--header-shrink-height);
    box-shadow: rgba(149, 157, 1650, 0.2) 0 8px 24px;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    font-size: 1.8rem;

    .menu-item {
        font-weight: 400;
        min-width: 110px;
    }

    .menu-item.active {
        font-weight: 600;
        color: #4366af;
    }
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    img {
        height: 28px;
    }
}

.actions {
    display: flex;
    font-size: 25px;

    .actions-item {
        cursor: pointer;
        padding: 0 8px;
        margin: 0 10px;
    }
}

.menu-icon-on {
    display: none;
    margin-left: 20px;
}

.menu-icon-off {
    display: none;
}

// Responsive
/* Width < 1024 */
@media only screen and (max-width: 1023px) {
    .menu-icon-on {
        display: unset;
        font-size: 28px;
        cursor: pointer;
    }

    .left {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        background: var(--default-background-color);
        transform: translateX(-100%);
        transition: 0.3s;

        .menu-icon-off {
            display: unset;
            position: absolute;
            top: 10px;
            left: 30px;
            font-size: 30px;
            cursor: pointer;
        }

        .menu {
            text-align: center;
            flex-direction: column;
            align-items: center;

            .menu-item {
                width: 100%;
                padding: 10px;

                &:hover {
                    background-color: rgb(188, 221, 217);
                }
            }

            .menu-item ~ .menu-item {
                margin-top: 5px;
            }
        }
    }
    .left.active {
        transform: translateX(0);
    }

    .actions {
        font-size: 20px;

        .actions-item {
            padding: 0 8px;
            margin: 0 10px;
        }
    }
}

/* Tablet: 790px <= width < 1024 */
@media only screen and (min-width: 790px) and (max-width: 1023px) {
}

/* Mobile: width < 790px */
@media only screen and (max-width: 789px) {
    .actions {
        font-size: 16px;

        .actions-item {
            padding: 0 6px;
            margin: 0 4px;
        }
    }
}
